[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pygame = "==1.9.6"
freetype = "*"
python-freetype = "*"
freetype-py = "*"
freetypepy = "*"
matplotlib = "==2.2.2"
reetype-py = "==2.1.0"
and = "*"
pypng = "==0.0.20"
python-tk = "==8.5"
pillow = "==6.1.0"
beeply = "==1.0.2"
mp3play = "==0.1.15"

[requires]
python_version = "3.8"
